
.title{
    padding: 0%;
    margin: 0%;
    font-size: 15px;
    text-align: center;
}


ion-card{
    max-width: 90vw;
    width: 640px;
    background-color: #ede7f6;
}
.boton{
    display: flex;
    justify-content: center;
}

ion-item{
    margin:10px;
}

